<template>
  <a-modal
    :title="!this.dataForm.${pk.attrname} ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible="visible">

    <div>
    <al-form :model="dataForm" :rules="dataRule" ref="dataForm"  label-width="80px">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
    <al-form-item label="${column.comments}" prop="${column.attrname}">
      <al-input v-model="dataForm.${column.attrname}" placeholder="${column.comments}"></al-input>
    </al-form-item>
#end
#end
    </al-form>
    <span slot="footer" class="dialog-footer">
      <al-button @click="visible = false">取消</al-button>
      <al-button type="primary" @click="dataFormSubmit()">确定</al-button>
    </span>
      </div>
  </a-modal>
</template>

<script>
    import api from "@/api/modules/${pathName}";
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)
          ${column.attrname}: 0,
#else
          ${column.attrname}: ''#if($velocityCount != $columns.size()),#end

#end
#end
        },
        dataRule: {
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
          ${column.attrname}: [
            { required: true, message: '${column.comments}不能为空', trigger: 'blur' }
          ]#if($velocityCount != $columns.size()),#end

#end
#end
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.${pk.attrname} = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          api.info(this.dataForm.${pk.attrname}).then(({data}) => {
              if (data) {
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
                this.dataForm.${column.attrname} = data.${classname}.${column.attrname}
#end
#end
              }
            })
        })
      },
      // 表单提交
      dataFormSubmit () {
        #[[this.$refs['dataForm'].validate((valid) => {]]#
          if (valid) {
    var parms= {
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)
'${column.attrname}': this.dataForm.${column.attrname} || undefined,
#else
'${column.attrname}': this.dataForm.${column.attrname}#if($velocityCount != $columns.size()),
#end
#end
#end
        }
        api.updateAdd(parms,this.dataForm.${pk.attrname}).then((res) => {
              if (res.code==200) {
                #[[this.$message({]]#
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    #[[this.$emit('refreshDataList')]]#
                  }
                })
              } else {
                #[[this.$message.error(data.msg)]]#
              }
            })
          }
        })
      }
    }
  }
</script>
